// custom SCSS (or CSS) goes here
.minitoc_sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc; 
  }

