@include mq(xs)
{
    .vflex-start .vflex-center .vflex-end {
        display: flex;
    
        img {
            margin-left: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }
}

@include mq(md)
{
    .vflex-start {
        display: flex;
        align-items: flex-start;
    
        img {
            margin-left: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }
    
    .vflex-center {
        display: flex;
        align-items: center;
    
        img {
            margin-left: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }
    
    .vflex-end {
        display: flex;
        align-items: flex-end;
    
        img {
            margin-left: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }
}

